.git
.github
.cursor
.idea
.vscode
.zed
.DS_Store
*.log
.phpunit.result.cache
.phpunit.cache
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
doc
tests
Homestead.json
Homestead.yaml
_ide_helper.php
auth.json
README.md
